#### DAY6
#### Conventional statements

In [2]:
# conventional if-else
num = 18
if num %2 == 0:
    print("even")
else:
    print("odd")

even

In [7]:
#short way of writing conventional if-else
#single line code
print("even")if num%2==0 else print("odd")

even

#### syntax for one line if-else
(code for if block)if condition else(code for else block)

In [14]:
x = 15
result = "Positive" if x > 0 else "Negative"
print(result)

Positive

In [22]:
#short way of writing if else 
age = int(input("Enter your age: ")) #input by user
category = "Adult" if age >= 18 else "Minor"
print(category)

Enter your age:  19

Adult

#### Nested if-else in one line

In [31]:
num = int(input())
result = "Positive" if num > 0 else "Negative" if num < 0 else "Zero"
print(result)

 -8

Negative

#### list comprehension
It is python provide a short way to create list by incorporating a loop and optional conditional logic in a single line use a list comprehension to tranform and filter elements

In [49]:
l = [1,18,2,10,15,89]
[2*x for x in l ]

[2, 36, 4, 20, 30, 178]

In [60]:
[x for x in l if x%2 == 0] #prits even number

[18, 2, 10]

In [62]:
[x for x in l if x%2 != 0] #prints odd number

[1, 15, 89]

In [80]:
#Dictionary comprehension 
d1 = {'Ram':[90,94,96,98], 'john':[56,78,89,90], 'Rohith':[95,96,97,98,]}
d1

{'Ram': [90, 94, 96, 98], 'john': [56, 78, 89, 90], 'Rohith': [95, 96, 97, 98]}

In [82]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 94.5, 'john': 78.25, 'Rohith': 96.5}

#### User Defined Function
They are modular in nature 
....>>That is they are reusable code 
....>>Syntax : def function_name(arguments):
                   ->code1
                   ->code2 etc....

#### Write a user defined fuction to compute avg of a list of numbers

In [91]:
def mean_value(given_list):
    total = sum(given_list)
    avg_value = total/len(given_list)
    return avg_value

In [95]:
# call the function 
L = [1,3,5,7,9,12,14,16,18]
mean_value(L)

9.444444444444445

In [113]:
def greet(Message):
    message = str(input("Good Morning"))
    return message

In [115]:
greet(string)

Good Morning varshita

'varshita'