In [9]:
#continuation of lists
orders = [['apple',10],['banana',5],['cherry',7],['dragon',10],['grape',9],['apple',20]]
for each in orders:
    if each[0] == "cherry":
          each[1] = 10
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10], ['grape', 9], ['apple', 20]]

In [11]:
orders

[['apple', 10],
 ['banana', 5],
 ['cherry', 10],
 ['dragon', 10],
 ['grape', 9],
 ['apple', 20]]

In [39]:
apple_orders=[]
for each in orders:
    if each[0] == "apple":
        apple_orders.append(each[1])
print(apple_orders)
print(sum(apple_orders))

[10, 20]
30

##Tuples

In [43]:
##Important properties of tuples in Python 
#>Ordered
#>Immutable and fixedd size after creation
#>Heterogeneous elements 
#>Zero based Indexing and slicing 
#>Allow Duplicates
#>Iterable
#>Support for Nesting
#>Supports Basic operations and few methods
#>

SyntaxError: invalid syntax (1281831607.py, line 1)

In [45]:
Tup1 = (3,5,9,10)
Tup2 = 10,20,30,'hi'
Tup3 = tuple([1,2,5,7])

In [49]:
print(Tup1)
print(Tup2)
print(Tup3)
print(type(Tup3))

(3, 5, 9, 10)
(10, 20, 30, 'hi')
(1, 2, 5, 7)
<class 'tuple'>

In [81]:
t4 = ([3,4,5],[1,3,4],(3,5,3),"Hello",107)

In [83]:
print(t4)

([3, 4, 5], [1, 3, 4], (3, 5, 3), 'Hello', 107)

In [85]:
#replacing numbers or the tuple 
t4[1][1] = 143
t4

([3, 4, 5], [1, 143, 4], (3, 5, 3), 'Hello', 107)

In [87]:
t5 = ([3,4,5],(4,8,9),"Hello",107)

In [89]:
print(t5)

([3, 4, 5], (4, 8, 9), 'Hello', 107)

In [91]:
t5

([3, 4, 5], (4, 8, 9), 'Hello', 107)

In [96]:
#use count() method of tuple to count an 
t6 = (10,20,1,10,10,30,10)
t6.count(10)

4