In [2]:
##DAY4

In [4]:
d1 = {"a" : 1, "b" : 2, "c" : 3}
print(d1)
print(type(d1))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [6]:
#cerate dictinary with dict() constructor
d2 = dict(A=10, B=20, C=30)
print(d2)

{'A': 10, 'B': 20, 'C': 30}

In [8]:
#create dictionary with a list of tuples
d3 = dict([("x", 1),("y", 2),("z", 3)])
print(d3)

{'x': 1, 'y': 2, 'z': 3}

In [10]:
#Prit keys, vallue and key:value pairs
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [12]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [20]:
scores = {'Virat': 90, 'Rohit': 100, 'Rahul': 70, 'Hardhik': 9, 'Gill': 20, 'Jadeja': 30,'Siraz': 89}
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardhik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 89}

In [35]:
scores["Rahane"] = 43
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardhik': 56,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 89,
 'Siraj': 23,
 'Rahane': 43}

#### Update Jadeja scores as Jadeja :50 using update() method

In [38]:
scores.update({'Jadeja':50})
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardhik': 56,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 89,
 'Siraj': 23,
 'Rahane': 43}

In [42]:
scores.update({"Hardhik":56, "Rahane":63})
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardhik': 56,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 89,
 'Siraj': 23,
 'Rahane': 63}

In [48]:
scores.setdefault("Rahul",60)
scores #setdefault will taKe only one pair and it ignore the key value if the key is already present it will not update
#it will add if the key is not present

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardhik': 56,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 89,
 'Siraj': 23,
 'Rahane': 63}

In [50]:
scores.setdefault("Pujara",60)
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardhik': 56,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 89,
 'Siraj': 23,
 'Rahane': 63,
 'Pujara': 60}

In [52]:
####Pop item

In [54]:
scores.popitem()
scores #it popitem and delet the key 
#how to remove element from the dictonary? ->popitem() ->pop(key)

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardhik': 56,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 89,
 'Siraj': 23,
 'Rahane': 63}

In [56]:
scores.pop("Gill")
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardhik': 56,
 'Jadeja': 50,
 'Siraz': 89,
 'Siraj': 23,
 'Rahane': 63}

In [60]:
#GET FUCTION 
scores.get("Siraz") #used to retrive a key values

89

In [72]:
#use of fromkeys(0 to create a new dict 
list1 = ["A","B","C","D"]#creating dictionary from a given list of keys 
my_dict = dict.fromkeys(list1,89)
my_dict

{'A': 89, 'B': 89, 'C': 89, 'D': 89}

In [74]:
my_dict.update({"A":18,"B":15})
my_dict

{'A': 18, 'B': 15, 'C': 89, 'D': 89}

#### Add to scores another score Siraz:15 using setdefault